<div ng-controller="ProductsController as $ctrl">
          <div class="row"  style="padding:50px" >  
                    <div class="col-2 col-sm-5 col-md-3 col-lg-2 panel "  ng-repeat="item in $ctrl.result.items">
                      <div class="panel-heading" >
                         <a href="javascript:void(0)"  ng-click="$ctrl.detail(item.itemId)" > <img ng-src="{{::item.thumbnailImage}}"> </a>
                         <h5 style="color:#0074b8">{{::item.salePrice}}<sup>$</sup></h5>
          
                        <a href="javascript:void(0)" ng-click="$ctrl.detail(item.itemId)"><h6  style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{::item.name}}</h6>
                      </div><!-- /.panel-heading -->
                    </div><!--/span-->
                  </div>

</div>